#patient-admission-section,
.admission-process-section {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}
/* Patient Admission Section Styles */
#patient-admission-section {
  border-radius: 8px;
  background-color: var(--section-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 15px var(--shadow-color);
}

#patient-admission-section h2 {
  color: #333;
  border-bottom: 1px solid var(--input-border-color);
  padding-bottom: 20px;
}

#patient-admission-form label {
  font-weight: bold;
  display: block;
  padding: 5px;
  margin: 4px 0;
}

#patient-admission-form input[type='text'],
#patient-admission-form input[type='date'],
#patient-admission-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
  gap: 30px;
}
#patient-admission-form button {
  background-color: var(--primary-bg-color);
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease;
}

#patient-admission-form button:hover {
  background-color: #ddd;
  color: #333;
}

#patient-admission-section h2,
#patient-admission-form label,
#patient-admission-form input[type='text'],
#patient-admission-form input[type='date'],
#patient-admission-form select,
#patient-admission-form button {
  font-size: 18px; /* Increased font size for better readability */
}

#patient-admission-form input[type='text'],
#patient-admission-form input[type='date'] {
  font-size: 14px;
}
