/* Admission Process Section */
.admission-process-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--section-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.admission-process-section button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-bg-color);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.admission-process-section h3 {
  color: #333;
  border-bottom: 1px solid var(--input-border-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.waiting-list-section,
.simulation-control-panel {
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin: 5px;
}

.waiting-list {
  flex: 0.7;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.scrollable-list {
  overflow-y: auto; /* Vertical scroll */
  max-height: 100px; /* Maximum height */
}

.waiting-list h3 {
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid var(--primary-bg-color);
  padding-bottom: 10px;
}

.waiting-list ul {
  list-style-type: none;
  padding-left: 10px;
}

.patient-name-list {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ccc; /* Adds a light gray bottom border */
  font-size: 16px;
}

.patient-name-list .patient-id {
  color: #333;
  font-weight: bold;
}

.patient-name-list .patient-name {
  color: #555;
}

.patient-name-list .patient-category {
  color: #777;
}

.patient-name-list:hover {
  background-color: #f0f0f0; /* Changes background color when hovered */
  cursor: pointer; /* Changes the cursor to a hand pointer */
}

/* For alternate colors */
.patient-name-list:nth-child(even) {
  background-color: #f9f9f9;
}
