<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/patientSection.css" />
    <link rel="stylesheet" href="/css/waitListSection.css" />
    <link rel="stylesheet" href="/css/bedWardSection.css" />
    <link rel="stylesheet" href="/css/simulationSection.css" />

    <title>Dashboard & Patient Admission</title>
  </head>
  <body>
    <header>
      <h1>Hospital Bed Management System</h1>
    </header>

    <nav>
      <ul>
        <li><a href="dashboard.html">Dashboard</a></li>
      </ul>
    </nav>

    <div class="content-wrapper">
      <div class="top-section">
        <!-- Patient Admission Section -->
        <section id="patient-admission-section">
          <h2>Patient Admission</h2>
          <form id="patient-admission-form">
            <label for="patient-ID">ID :</label>
            <input
              type="text"
              id="patient-ID"
              name="patient-ID"
              readonly
              required
            />

            <label for="patient-name">Patient Name:</label>
            <input
              type="text"
              id="patient-name"
              name="patient-name"
              pattern="^[A-Za-z\s]*$"
              title="Please enter text only."
              required
            />

            <label for="patient-gender">Gender</label>
            <select name="patient-gender" id="patient-gender" required>
              <option value="">-</option>

              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>

            <label for="patient-bloodType">Blood Type:</label>
            <select name="patient-bloodType" id="patient-bloodType" required>
              <option value="">-</option>

              <option value="A">A</option>
              <option value="B">B</option>
              <option value="AB">AB</option>
              <option value="O">O</option>
            </select>

            <label for="patient-DOB">Date of Birth:</label>
            <input type="date" id="patient-DOB" name="patient-DOB" required />

            <label for="patient-age">Age:</label>
            <input
              type="text"
              id="patient-age"
              name="patient-age"
              readonly
              required
            />

            <label for="patient-illness">Illness/Condition:</label>
            <input
              type="text"
              id="patient-illness"
              name="patient-illness"
              placeholder="Enter the Illness or Condition"
              pattern="^[A-Za-z\s]*$"
              title="Please enter text only."
            />

            <label for="patient-category">Category:</label>
            <select name="patient-category" id="patient-category" required>
              <option value="">-</option>

              <option value="Intensive Care">Intensive Care</option>
              <option value="Infectious Disease">Infectious Disease</option>
              <option value="General Care">General Care</option>
            </select>

            <div class="button-group">
              <button type="submit">Register</button>
              <button id="reset-button" onclick="resetForm()">Reset</button>
            </div>
          </form>
        </section>

        <section class="admission-process-section">
          <div class="waitiling-list-section">
            <h3>Patients Waiting List:</h3>
            <button onclick="admitPatient()">Admit Patient</button>
            <div class="scrollable-list">
              <div class="waiting-list">
                <ul></ul>
              </div>
            </div>
          </div>

          <div class="simulation-control-panel">
            <h3>Simulation Control:</h3>
            <div class="patient-status-section"></div>
            <div class="scrollable-list">
              <div class="simulation-waiting-list">
                <ul></ul>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section class="bed-ward-section">
        <!-- Bed Ward Generator  -->
      </section>

      <div class="tooltip-container">
        <div class="tooltip-content"></div>
      </div>

      <footer>Hospital Bed Management System © 2023</footer>

      <script src="../js/utils.js"></script>
      <script src="../js/dashBoard.js"></script>
      <script src="../js/dataBase.js"></script>
      <script src="../js/patientManagement.js"></script>
      <script src="../js/bedManagement.js"></script>
      <script src="../js/waitListManagement.js"></script>
      <script src="../js/simulationManagement.js"></script>
    </div>
  </body>
</html>
