<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Hospital Bed Management System/title>
  </head>
  <body>
    <header>
      <h1>Hospital Bed Management System</h1>
    </header>

    <nav>
      <ul>
        <li><a href="main-menu.html">Home</a></li>
        <li><a href="patient-admission.html">Patient Admission</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
      </ul>
    </nav>

    <main>
      <!-- Content can be added here later  -->
    </main>

    <footer>
      Hospital Bed Management System © 2023
    </footer>

    <script src="js/script.js"></script>


  </body>
</html>
